@mixin display-large {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
}

@mixin display-medium {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

@mixin display-small {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}

@mixin label-large {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

@mixin label-medium {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
}

@mixin label-small {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

@mixin label-button {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
}

@mixin title-large {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

@mixin title-medium {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

@mixin title-small {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
}