:root {
    --color-primary: #FF6600;
    --color-on-primary: #ffffff;

    --color-secondary-container: #F4F4F4;
    --color-on-secondary-container: #333333;

    --color-outline: #EAEAEA;

    --color-surface: #ffffff;
    --color-on-surface: #333333;
    --color-surface-container-high: #BBB8B6;
    --color-surface-container: #f4f4f4;
    --color-surface-container-low: #ffffff;

    --color-blue: #26A1DE;
    --color-orange: #FF6600;
    --color-green: #4DB849;
}